<div id="DivDialog" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-hidden="true" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">
                    <i class="fa fa-fw fa-windows" style="color:#0094ff"></i> Modal Dialog
                </h4>
            </div>
            <div class="modal-body">
                content should go here
            </div>
        </div>
    </div>
</div>
